*{
    box-sizing: border-box;
}

.body{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.job .banner {
    background-color: #fff;
    background-image: url(https://img.zohostatic.com/recruit/ZR_25SEP2020_ACTIVE_HOTFIX_TIMETRIGGER/images/cover1.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.banner-img-overlay {
    background-color: #050505;
    opacity: 0.84;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .3s ease-in-out;
    z-index: 1;
}

.b-container {
    position: relative;
    z-index: 2;
}

.banner--content {
    margin: 0 auto;
}

.b-hldr {
    min-height: 34rem;
    display: flex;
    width: 56%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    word-break: break-word;
}

.pos-cent {
    width: 100%;
    position: relative;
}

.banner-text h1 {
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #FFFFFF;
}

.banner-text h2 {
    font-size: 3rem;
    padding: 0;
    letter-spacing: .01em;
    line-height: 1.1;
    margin-bottom: 16px;
    position: relative;
    color: #FFFFFF;
}

.banner p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0;
    padding: 0 3rem;
    color: #FFFFFF;
}

a.banner-cta-btn {
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    letter-spacing: 0.5px;
    margin-top: 32px;
    padding: 12px 24px;
    opacity: 1;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    background-color: #4177f6;
    border: 1px solid #4177f6;
}

a.banner-cta-btn:hover {
    opacity: .9;
}

section.jobs_section {
    padding: 64px 0;
    background: #fff;
}

.page-center {
    box-sizing: border-box;
    max-width: 1024px;
    margin: 0 auto;
}

.job_section_main_heading {
    text-align: center;
}

.job_section_main_heading h1.title {
    color: #39373c;
}

.job_section_main_heading h2.sub_title {
    color: #000000;
}

.job_posts h4 {
    color: #000000;
    padding: 10px 0;
    width: 50%;
    position: sticky;
    top: 0;
    z-index: 3;
    background: #fff;
}

.job_posts h4 span.job-count{
    color:#39373c;
    background: #f5f6fa;
    font-size: 0.8125rem;
    border-radius: 24px;
    position: relative;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0 8px;
    line-height: 23px;
    text-transform: uppercase;
}

.jobcard-container {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 32px;
    column-gap: 16px;
    transition: all .5s ease-in-out;
}

.jobcard-item {
    -webkit-column-break-inside: avoid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    break-inside: avoid;
    page-break-inside: avoid;
    width: 100%;
    margin-bottom: 16px;
}

.joblist-card {
    border: 1px solid #e5e6e8;
    border-radius: 10px;
    padding: 16px;
    background: #fff;
    overflow: hidden;
    transition: all .4s;
    flex: 1;
}

.joblist-card h3 {
    margin-bottom: 2px;
}

.joblist-card h3 a {
    cursor: pointer;
    word-break: break-word;
    text-decoration: none;
    color: #4177f6;
}

.joblist-card h3 a:hover {
    text-decoration: underline;
}

.joblist-card p {color: #000000;}

.joblist-card p.card-text {
    margin: 16px 0;
    line-height: 1.3125rem;
    word-break: break-word;
}

.joblist-card span.cw-full-time {
    float: right;
    width: 60%;
    text-align: right;
    font-size: 0.8125rem;
    display: inline-block;
    font-weight: 600;
}

.joblist-card span {
    color: #000000;
    font-size: 0.875rem;
}

.joblist-card span.cw-post-date {
    display: inline-block;
    float: left;
}

.joblist-card:hover {
    background: #f5f6fa;
}

/* Job post page */

.job-post-section{
    background-color: #fff;
}

.job-post_page .banner {
    position: relative;
    background-position: center top;
    background-size: cover;
    width: 100%;
    padding: 6rem 0 4rem;
    background-position-y: unset !important;
}

.job-post_page .b-hldr {
    min-width: 300px;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    z-index: 6;
    width: 100% !important;
    align-items: flex-start;
    min-height: auto;
}

.job-post_page .banner p {
    margin-bottom: 4px;
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 0 2rem;
    word-break: break-word;
}

span.cw-small-size {
    font-size: 0.9375rem;
}

.job-post_page .banner-text h1 {
    font-size: 3rem;
    line-height: 1.2;
    position: relative;
    font-weight: 500;
    word-break: break-word;
}

.banner-button {
    margin-top: 24px;
    font-size: 0;
}

.white-btn {
    display: inline-block;
}

.job-post_page .banner button {
    padding: 10px 16px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.125rem;
    margin-left: 16px;
    border: 1px solid #296acf;
    opacity: 1;
    cursor: pointer;
}

.blue-btn {
    display: inline-block;
}

.job-post_page .blue-btn button {
    background-color: #4177f6;
    border-color: #4177f6;
    color: white;
}

.job-post_page .banner .white-btn button {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background: transparent !important;
}

.cw-list-share-circles {
    overflow: hidden;
    z-index: 2;
    text-align: center;
    margin: 16px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cw-bt-circle.cw-bt-share {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    float: left;
    margin-left: 16px;
}

span.fa.fa-share-alt {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #FFFFFF;
}

.job-post.page-center ul{
    list-style: none;
}


.job-post.page-center {
    border-radius: 4px;
    z-index: 4;
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
}

.post-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

ul.breadcrumb {
    list-style: none;
    border-bottom: 1px solid #f2f4f9;
    padding: 16px 0;
}

.breadcrumb li {
    display: inline;
    font-size: 0.875rem;
}

.breadcrumb li:not(:first-child):before {
    color: #39373c !important;
    content: '';
    transform: rotate(45deg);
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 0.125rem solid;
    border-bottom: 0;
    border-left: 0;
    text-indent: -624.9375rem;
    margin: 0 8px 0 4px;
    font-size: 0.875rem;
}

.breadcrumb li:not(first-child)>span {
    color: #39373c;
}

.breadcrumb li a {
    text-decoration: none;
    color: #4177f6;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.jp-holder {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.summary {
    width: 30%;
    padding: 24px 48px;
    position: relative;
}

.summary h3, .jobdescription h3 {
    margin-bottom: 16px;
    font-size: 1.125rem;
    font-weight: 600;
    color: #000000;
}

ul.summary-list {
    display: block;
}

.summary-list li {
    margin-bottom: 16px;
    list-style: none;
}

.summary-list li span:first-child {
    margin-bottom: 4px;
}

.summary-list li span {
    display: block;
    font-size: 0.875rem;
}

.summary-list li span:last-child {
    font-weight: 500;
}

.jobdescription {
    width: 70%;
    background: #fff;
    float: left;
    border-right: 1px solid #f2f4f9;
    padding: 24px 48px 24px 0;
}

.jobdescription p {margin-bottom: 16px;word-break: break-word;line-height: 1.7rem;font-weight: 400;}

.blue-btn {
    margin: 16px 0;
}

.jp-holder .blue-btn button {
    padding: 10px 16px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.125rem;
    opacity: 1;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

/*form page */

.job_form {
    margin-top: 30px;
}

form {
    display: block;
    width: 100%;
    max-width: 640px;
    margin: 0 auto 0;
}

.form_items_holder {
    padding: 24px 0 8px;
    border-top: 1px solid #f2f4f9;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    transition: all .3s;
}

.form_items_holder:first-child {
    padding-top: 0;
    border: none;
}

form h3.cw-section-title {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.1875rem;
    margin-bottom: 16px;
    position: relative;
    color: #000000;
}

a.cw-form-clear {
    font-size: 0.875rem;
    opacity: 1;
    color: #296acf;
    padding-left: 16px;
    position: relative;
}

a.cw-form-clear.inactive {
    opacity: .3 !important;
    cursor: not-allowed;
}

.form_item {
    margin-bottom: 16px;
    position: relative;
    transition: all .3s;
}

.form_item label {
    width: 100%;
    text-align: left;
    padding-right: 0;
    line-height: 22px;
    font-size: 0.875rem;
    color: #39373c !important;
}

span.form-mandatory {
    color: #dc5757;
    font-size: 1.5rem;
    margin-left: -2px;
}

.InputField {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.job_form input {
    width: 100%;
}

.job_form input:focus {
    border: 1px solid #7fceef;
}

select#currentJob {
    border-color: #ccd4e3;
    box-shadow: none;
    padding: 9px 25px 8px 10px;
    border-radius: 4px;
    width: 100%;
}

button.submit-btn {
    background-color: #4177f6;
    border-color: #4177f6;
    color: white;
}

.buttons-container {
    padding: 32px 0;
    text-align: center;
}


@media (max-width: 960px){
    .b-hldr {
        text-align: center;
        min-height: 34rem;
        padding: 5.5rem 0 3rem;
        width: 100%;
    }
    
    .page-center {
        width: 96%;
    }
    
    .jobcard-container {
        column-count: 2;
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    }

    .summary {
        padding: 24px 16px;
    }
}

@media (max-width: 767px){
    .banner-text h1 {
        margin-bottom: 8px;
    }
    
    .banner-text h2 {
        padding: 0;
        font-size: 2.2rem;
    }
    
    .banner p {
        padding: 0;
        font-size: 1rem;
        line-height: 1.3rem;
    }

    section.jobs_section {
        padding: 32px 0;
    }
    
    .page-center {
        width: 92%;
    }

    .summary {
        margin: 0 auto;
        padding: 24px 0 8px;
        width: 100%;
    }
}


@media (max-width: 624px){
    section.jobs_section {
        padding: 32px 0;
    }
    
    .page-center {
        width: 92%;
    }
    
    .job_posts h4 {
        top: 0;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0;
    }
    
    .jobcard-container {
        column-count: 1;
    }
    
    .joblist-card p.card-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .jp-holder {
        flex-direction: column;
    }
    
    .jobdescription {
        width: 100%;
        padding: 24px 20px 24px 0;
    }

    .white-btn {
        display: block;
    }
    
    .blue-btn {
        display: block;
    }
}